
{% extends "base.html" %}
{% block content %}
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ url_for('.home')}}">MusicLab</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="{{url_for('.home')}}">Home <span class="sr-only">(current)</span></a></li>
					<li><a href="{{url_for('.mySite')}}">MySite</a></li>
					<li><a href="#">Settings</a></li>
					<li><a href="/logout/">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Ups something went wrong!</>
				<div class="highlight-box box-error">
					<h2>It seems the page you wanted to visit does not exixt!</h2>
					<div class="submit-wrapper">
						<a class="btn btn-default btn-transparent" href="{{ url_for('.home')}}"/>Back to MusicLab</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	

{% endblock %}
