
{% extends "base.html" %}
{% block content %}
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ url_for('.home')}}">MusicLab</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="{{url_for('.home')}}">Home <span class="sr-only">(current)</span></a></li>
					<li><a href="{{url_for('.mySite')}}">MySite</a></li>
					<li><a href="#">Settings</a></li>
					<li><a href="/logout/">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div class="container">
		<div class="row">
			<div class="col-sm-2 aside aside-left">
					<label id="upload-img" for="new-img">
						<div class="hover-upload">
							<p class="hover-upload">Upload new image</p>
						</div>
						<img class="aside-img" src="{{ url_for('static', filename=img)  }}" />
					</label>			
				<form action="{{ url_for ('.upload_img', fromSite='home') }}" method="post" id="upload-form" enctype="multipart/form-data">
					<input type="file" id="new-img" name="new-img" />
				</form>
				<div class="aside-content">
					<h5>{{ name.name}} {{ name.surname}}</h5>
				</div>
			</div>
			<div class="col-sm-10 col-md-8">
				<div class="row">
					<div class="col-md-12">
						<div class="upload-wrapper highlight-box">
							<img class="upload-img" src="{{ url_for('static', filename=img)  }}" />	
							<h3>Upload your new work here!</h3>							
							<form action="{{ url_for ('.home') }}" method="post" name="upload" id="upload" enctype="multipart/form-data">
								<span id="upload-error" class="information-signin error">Please select a mp3 track!</span>
								<label class="btn btn-default upload-btn" for="postfile">Upload track here</label>
								<input type="file" name="postfile" id="postfile"/>
								<p class="information">Important! At the moment we only support mp3 files. Use 
								<a href="http://online-audio-converter.com/"target="_blank">this Link </a>to convert your file if it is in an other format</p>
								<textarea placeholder="Write something about your track here..." name="message" rows="3" cols="20"></textarea>
								<div class="submit-wrapper">
									<button class="btn btn-default btn-transparent" type="submit" name="uploadsubmit"/>Add Post</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			
			<div class="devider"></div>
	
			{% for post in posts %}
			<div class="row">
				<div class="col-md-12">
					<div class="post-wrapper">
						<div class="row">
							<div class="img-desc-wrapper clearfix">
								<div class="col-xs-1">						
								{% for img in postImg %}
									{% if img.postId == post.postId %}
										<img class="avatar" src="{{ url_for('static', filename=img.img) }}" />
									{% endif %}
								{% endfor %}
								</div>
								<div class="col-xs-11">
									<p class="postdesc">{{ post.content }} </p>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-12">
							{% for file in files %}
								{% if file.postId == post.postId %}
								<audio controls>
									<source src="{{ url_for('static', filename=file.audio) }}" type="audio/mpeg">
									Audio not supported
								</audio>
								{% endif %}
							{% endfor %}
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="comment-and-like clearfix">
									<div class="like">
										<span class="glyphicon glyphicon-music" aria-hidden="true"></span>
										<span class="like-count">5</span>
									</div>
									<div class="comment">
										<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
										{% for count in commentcount %}
											{% if count.post == post.postId %}
											<span class="comment-count">{{ count.comments }}</span>
											{% endif %}
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
						<div class="row comment-wrapper">
							<div class="col-md-12">
								<h3>Comments</h3>
								<form action="/comment/{{ post.postId }}/" method="post">
									<textarea placeholder="Write your comment here..." name="comment" rows="3" cols="20"></textarea>
									<div class="submit-wrapper">
										<button class="btn btn-default btn-transparent" type="submit" value="comment" name="uploadsubmit"/>Comment</button>
									</div>
								</form>
								{% for comment in comments %}
								{% if comment.post == post.postId %}
								<div class="comment-box">
									{% for cImg in cImgs %}
										{% if cImg.cId == comment.cId %}
											<img class="comment-img" src="{{ url_for('static', filename=cImg.img) }}" />
										{% endif %}
									{% endfor %}
									{% for cName in cNames %}
										{% if cName.cId == comment.cId %}
											<span class="comment-name">{{cName.name}} {{cName.surname}}</span>
										{% endif %}
									{% endfor %}
									<p class="comment-text">{{ comment.content }}</p>
								</div>
								{% endif %}
								{% else %}
								<h2>No Comments yet</h2>
								{% endfor %}					
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="devider"></div>
			{% else %}
			<h2>No posts yet</h2>
			<div class="devider"></div>
			{% endfor %}
			
			</div>
			{% include 'links.html' ignore missing %}
		</div>
	</div>

	
	

{% endblock %}
