<div class="col-sm-2 aside aside-right">
	<h4>Helpful things</h4>
	<div class="aside-content">
		<h5>Plugins</h5>
		<ul class="link-list">
			<li><a href="http://bedroomproducersblog.com/free-vst-plugins/" target="_blank">bpb Free VST</a></li>
			<li><a href="http://www.best-free-vst.com/plugins/effects/glitch-fsu-01.php" target="_blank">Best-Free-VST.com</a></li>
		</ul>
		<h5>Software</h5>
		<ul class="link-list">
			<li><a href="https://www.ableton.com/en/" target="_blank">Abelton Live</a></li>
			<li><a href="http://www.magix-audio.com/gb/samplitude/" target="_blank">Magix Samplitude</a></li>
			<li><a href="http://www.avid.com/pro-tools" target="_blank">Pro Tools</a></li>
			<li><a href="http://www.apple.com/uk/logic-pro/" target="_blank">Logic Pro X</a></li>
			<li><a href="http://www.image-line.com/flstudio/" target="_blank">FL Studio</a></li>
		</ul>
	</div>
</div>