{% extends "base.html" %}
{% block content %}
	<div class="container margin-top-50">
		<div class="row">
			<div class="col-md-12 text-center">
				<span class="logo"</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<form action="" method="post">
					<div class="input-wrapper">
						<span class="form-label">Email:</span>
							<input type="email" name="username">	
					</div>
					<div class="input-wrapper">
						<span class="form-label">Password:</span>
							<input type="password" name="psw">
					</div>
					<div class="input-wrapper">
						<span class="form-label"></span>
						<button class="btn btn-default btn-transparent" type="submit" name="login-submit">Login</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}