{% extends "base.html" %}
{% block content %}
	<div class="container margin-top-50">
		<div class="row">
			<div class="col-md-12 text-center">
				<span class="logo"</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<form action="" method="post" id="signin-form">
					<div class="input-wrapper">
						<span class="form-label">Name*</span>
							<input type="text" name="name" id="name">	
					</div>
						<span id="error-name" class="information-signin error">Please enter your name</span>
					<div class="input-wrapper">
						<span class="form-label">Surname*</span>
							<input type="text" name="surname" id="surname">
					</div>
					<span id="error-surname" class="information-signin error">Please enter your surname</span>
					<div class="input-wrapper">
						<span class="form-label">Email*</span>
							<input type="email" name="mail" id="mail">
					</div>
					<span id="error-mail" class="information-signin error">Please enter your email</span>
					<div class="input-wrapper">
						<span class="form-label">Password*</span>
							<input type="password" name="signin-pwd" id="pw">
					</div>
					<span id="error-password" class="information-signin error">Please enter a password</span>
					<div class="input-wrapper">
						<span class="form-label">Repeat password*</span>
							<input type="password" name="check-pwd" id="check-pw">
					</div>
					<span id="error-password-check" class="information-signin error">Not the same password</span>
					<div class="input-wrapper">
						<p class="information-signin">* field required</p>
					</div>
					<div class="input-wrapper">
						<span class="form-label"></span>
						<button class="btn btn-default btn-transparent" type="submit" name="login-submit">Sign in</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}