{% extends "base.html" %}
{% block content %}
	<div class="container margin-top-50">
		<div class="row">
			<div class="col-md-12 text-center">
				<span class="logo"</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>Welcome to MusicLab</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="highlight-box">
					<p>MusicLab is a music collaboration platform for musicians and producers. 
					You want to improve your skills and get feedback to your music? 
					MusicLab is what you need! Share your music and get feedback from other musicians and producers.</p>
				</div>
				<h2>Already a member?</h2>
				<a class="btn btn-default btn-transparent" href="/login/" role="button">Login</a>
				<h2>New at MusicLab?</h2>
				<a class="btn btn-default btn-transparent" href="/signin/" role="button">Sign In</a>
			</div>
		</div>
	</div>
{% endblock %}