.navbar {
	background-color: #702835;
	border: none;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default .navbar-brand:hover {
	color: #fff;
}

.navbar-default .navbar-nav > li {
	border-top: 1px solid #fff;
}

.navbar-default .navbar-nav > li:first-child {
	border-top: none;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
}

.navbar-toggle {
	border: none;
}

.navbar-toggle:hover {
	border: none;
	background-color: transparent !important;
	background-image: none;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-default .navbar-toggle:hover .icon-bar{
	background-color: #fff;
}
 
.navbar-default .navbar-nav  > li > a:focus, 
.navbar-default .navbar-nav  > li > a:hover {
	color: #fff;
}

.navbar-default .navbar-nav  > .active > a, 
.navbar-default .navbar-nav  > .active > a:focus, 
.navbar-default .navbar-nav  > .active > a:hover {
    color: #702835;
    background-color: #fff;
}

@media (min-width: 768px) {
	
	.navbar {
		border-radius: 0;
	}
	
	.navbar-default .navbar-nav > li {
		border-top: none;
	}
}