.img-desc-wrapper {
	background-color: #702835;
	margin: 0 15px;
}

audio {
	width: 100%;
	background-color: black;
	margin-top: 20px;
}

.postdesc {
	color: #fff;
	padding-left: 15px;
	font-size: 12px;
	margin-top: 10px;
}

.avatar {
	margin-top: -25px;
	width: 50px;
}

.comment-and-like {
	margin-left: 68px;
}

.like, .comment {
	float: left;
}

.comment {
	margin-left: 10px;
}

.glyphicon {
	cursor: pointer;
}

.comment-box {
	margin-top: 20px;
	padding: 10px;
	border-bottom: 1px solid grey;
}

.comment-box:last-child {
	
	border-bottom: none;
	
}

.comment-text {
	font-size: 12px;
	margin-top: 5px;
}

.comment-img {
	width: 25px;
	vertical-align: initial;
}

.comment-name {   
 
	font-size: 12px;
    font-weight: 600;

}

.comment-wrapper {
	display: none;
}	

.comment-wrapper.active {
	display: block;
}

@media (min-width: 768px) {
	.comment-box {
		margin: 20px 68px 0;
		padding: 10px;
		border-bottom: 1px solid grey
	}		
}