
@import 'nav.css';
@import 'upload.css';
@import 'post.css';

body {
		margin-top: 80px;
	}

h1, h2, h3, h4, h5 {
	color: #702835;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 20px;
}

h4 {
	margin-top: 0;
}

p {
	font-size: 12px;
	color: #2d2d2d;
}

.devider {
	border-bottom: 1px solid grey;
	margin: 40px 0;
}

.post-devider {
	border-bottom: 1px solid #702835;
	margin: 20px 64px;
}

.logo {
	margin-top: 40px;
	background-image: url("../img/logo.png");
	width: 246px;
    	height: 116px;
    	background-size: cover;
    	display: inline-block;
}

.container {
	padding-bottom: 40px;
}

.btn-transparent {
	margin-top: 10px;
	border: 1px solid #702835;
	width: 100%;
	border-radius: 0;
}

.btn-transparent:hover{
	border: 1px solid #702835;
	color: white;
	background-color: #702835;
}

.upload-btn {
	margin-top: 0;
	border: 1px solid #702835;
	background-color: #702835;
	width: 100%;
	border-radius: 0;
	color: white;
}

.information {
	margin-top: 20px;
    color: red;
    font-size: 12px;
    border: 1px solid;
    padding: 5px;
	text-align: center;
}

.upload-btn:hover {
	color: black;
	border: 1px solid #702835;
	background-color: transparent;
}

.highlight-box {
	border: 1px solid #702835;
	border-radius: 5px;
	padding: 20px;
}

.form-label {
	display: inline-block;
    margin-top: 20px;
	width: 100px;
}

#postfile {
	display: none;
}

form {
	margin-top: 5px;
}

input[type="text"],input[type="password"], input[type="email"]  {
	border: 1px solid #702835;
	width: 100%;
}

.aside {
	display: none;
}

.aside-right {
		display: none;
}

.link-list {
	list-style: none;
	padding: 0;
}

.margin-top-50 {
	margin-top: -100px;
}

.link-list > li > a {
	color: grey;
}

#upload-form {
	display: none;
}

.information-signin {
	display: inline-block;
    border: navajowhite;
    margin-top: 10px;
    margin-left: 15px;
	color: red;
	font-size: 12px;
}

#upload-error {
	margin: 0;
}

.box-error {
	margin-top: 20px;
}

.error {
	display: none;
}

@media (min-width: 768px) {
	
	body {
		margin-top: 100px;
	}
	
	h1 {
		font-size: 60px;
	}

	h2 {
		font-size: 40px;
	}

	h4 {
		margin-top: 0;
	}

	p {
		font-size: 16px;
	}
	
	.box-error {
		margin-top: 40px;
	}
	
	.aside-content > h5 {
		margin: 0;
	}
	
	.aside-left {
		border-left: 1px solid gray;
		display: block;
	}

	.aside-img {
		max-width: 100%;
		max-height: 100%;
	}
	
	#upload-img {
		cursor: pointer;
		position: relative;
		width: 100px;
		height: 100px;
		overflow: hidden;
	}
	
	#new-img{
		display: none;
	}
	
	.hover-upload {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.4);
		padding: 20px;
		top: 0;
		left: 0;
		display: none;
	}
	
	.hover-upload > p {
		color: white;
	}
	
	.btn-transparent{
		margin-top: 20px;
		border: 1px solid #702835;
		min-width: 100px;
		max-width: 140px;
		border-radius: 0;
	}
	
	input[type="text"],input[type="password"], input[type="email"]   {
		width: initial;
	}
	
	.form-label {
		text-align: left;
	}
	
	.logo {
		height: 190px;
    		width: 400px
	}
	
	
}

@media (min-width: 992px) {
	.aside-right {
		display: block;
		border-right: 1px solid gray;
	}
}