.upload-img {
	width: 50px;
	vertical-align: initial;
}

input[type="file"]{
	margin-top: -25px;
	background-color: #702835;
	padding: 5px 5px 5px 80px;
	width: 100%;
	cursor: pointer;
	color: #fff;
	text-align: center;
}

textarea{
	width: 100%;
	resize: none;
	margin-top: 20px
}

.upload-wrapper > form > .submit-wrapper > input[type="submit"] {
	width: 100%;
	background-color: #702835;
	color: #fff;
	border: 0;
}

.upload-wrapper > h3 {
	display: inline-block;
}

@media (min-width: 768px) {
	
	.submit-wrapper {
		text-align: center;
	}
	
	.upload-wrapper > form > .submit-wrapper > input[type="submit"] {
	width: 200px;
	background-color: #702835;
	color: #fff;
	border: 0;
	}
	
	input[type="file"]{
		margin-top: 20px;
		background-color: #702835;
		padding: 5px 5px 5px 5px;
		cursor: pointer;
		color: #fff;
	}
} 